header {
    background-color: #363EAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
}

h1 {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
}

a {
    display: inline-flex;
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    align-items: center;
}

.nav-opt::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FA6F32;
    margin-right: 10px;

}

#button {
    background-color: #FA6F32;
    padding: 17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0px black;
    margin: 0;
    transition: transform 0.1s linear;
}

#button:hover {
    background-color: #ff4d00;
    transform: scale(1.07);
}
