.card-box {
    background-color: #7C5E99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px 0px #FFF;
}

.card-box.blue {
    background-color: #4C5B84;
}