.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.contact-form .mainLabel {
    align-self: flex-start;
    font-size: 30px;
    color: #FFF;
}

.contact-form .mainInput {
    height: 50px;
    border: 5px solid #000;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Fira Code', sans-serif;
}

.contact-form .mainInput.-textArea {
    height: 320px;
    margin-bottom: 40px;
}

.contact-form .main-button.-contact {
    width: 100%;
    cursor: pointer;
    transform: none;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Fira Code', sans-serif;
}