.emmet-carousel {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 85px;
    overflow: hidden;
}

.emmet-carousel::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    height: 6px;
    width: calc(100% - 100px);
    top: 50px;
    left: 50px;
}

.emmet-carousel::before {
    content: '';
    display: block;
    position: absolute;
    border: 3px dashed #000;
    width: 100%;
    top: 50px;
    left: 0px;
    box-sizing: border-box;
}

.emmet-carousel .arrow-btn.-left {
    position: absolute;
    left: 15px;
}

.emmet-carousel .arrow-btn.-right {
    position: absolute;
    right: 15px;
}

.emmet-carousel .emmetCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.emmetCard::-webkit-scrollbar {
    display: none;
}