.index-header {
    background-color: #363EAD;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
}

.logo {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
}

.nav-opt {
    margin-right: 30px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

.nav-opt::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FA6F32;
    margin-right: 10px;
}

.index-header > .menuBurguer {
    content: url(../../images/icon-menu.png);
    height: 40px;
    width: 44px;
    image-rendering: pixelated;
}

.index-header .closeMenu {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.index-header .closeMenu:hover {
    transform: scale(1.2);
}

@media (max-width: 980px) {
    .mainNav {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #000;
        padding: 20px;
        gap: 30px;
        width: 100%;
        box-sizing: border-box;
        transform: translateX(-100%);
    }

    .mainNav.-open {
        transform: translateX(0%);
    }

    .index-header .closeMenu {
        position: absolute;
        right: 20px;
    }
}

@media (min-width: 980px) {
    .index-header > .menuBurguer, .index-header .closeMenu {
        display: none;
    }
}