.main-section {
    background-color: #363EAD;
    text-align: center;
    border-bottom: 10px solid #7C5E99;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
}

.main-section > .title {
    color: #FFF;
    margin-bottom: 60px;
    text-shadow: none;
}

.main-section.-projects {
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}

.main-section.-sobre {
    border-bottom: 10px solid #000;
}
