.main-paragraph {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    margin: 0 80px;
    text-align: initial;
}

@media (max-width: 640px) {
    .main-paragraph {
        font-size: 20px;
    }
}