.project-box {
    display: flex;
    justify-content: space-evenly;
}

.project-box > .hoverLogo {
    transition: transform 0.15s linear;
}

.project-box > .hoverLogo:hover {
    transform: scale(1.03);
}

@media (max-width: 950px) {
    .project-box {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}